.canvas {
    height:100vh;
    width:100vw;
    background-color:rgb(112, 75, 7);
    background-image: url("./assets/map.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
}

.player {
    position: fixed;
    left: 400px;
    top: 495px;
    z-index: 5;

    
        height: 75px;
        width: 50px;
      background: 
      url('./assets/character.png') 0px 0px;
      
}

.contact {
    position: absolute;
    left: 10%;  
    top: 3%;
    height:15%;
}

.aboutMe {
    position: absolute;
    left: 76%;
    top: 56%;
    height:17%;
}

.resume {
    position: absolute;
    left: 5.5%;
    top: 61%;
    height:15%;
}

.projects {
    position: absolute;
    left: 80%;
    top: 6%;
    height:15%;
}

/* ----------------------------------------------------Scrollbar CSS------------------------------------------------ */

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(145, 88, 4); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #807c76; 
  }
  
  ::-webkit-scrollbar-corner {
    background: rgb(145, 88, 4); 
  }



/* -------------------------------------------Popup Boxes------------------------------------------ */



/* The Popup (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Popup Content */
  .modal-content {
    background-color: rgb(117, 80, 10);
    margin: auto;
    padding: 20px;
    border: .3em solid rgb(158, 148, 129);
    border-radius:10%;
    width: 15%;
    margin-top:20vh;
    font-size:1.5em;
    color:white;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align:center;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
      
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }


.boxHeader {
 text-align:center;
 margin:none;
 font-size:1.8em;
 text-shadow: 2px 2px 4px #000000;
 font-family: 'Acme', sans-serif;
}

.boxText {
 font-size:.9em;
 text-shadow: 1px 1px 4px #000000;
 text-align:center;
 font-family: 'Acme', sans-serif;
}







#welcomeBoxContent {
  height:40vh;
  width:40vw;
  margin-top:10vh;
}




/* Projects House */
#projectsBox {
  padding-top:0;
}

#projectsContent {
    height:85vh;
    width:50vw;
    margin-top:5vh;
}

#projectsContainer {
    background-color:rgb(170, 135, 69);
    border-radius:10%;
    height:73vh;
    width: 45vw;
    margin:auto;
    margin-top:2vh;
    overflow: auto;

}

.projectsSection {
    background-color:rgb(95, 80, 67);
    border-radius:10%;
    height:70vh;
    width:30vw;
    margin:auto;
    margin-top:1.5%;
    padding: 3% 1.5% 0 1.5%;
}

.projectsTitle {
    font-size:1.5em;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom:3%;
    font-family: 'Acme', sans-serif;
}

.projectsImg {
    background-color:black;
    height:30vh;
    width: 28vw; 
    margin-bottom: 1.5%;
}

.projectsDesc {
    font-size:.8em;
    line-height:110%;
    text-shadow: 1px 1px 4px #000000;
    font-family: 'Acme', sans-serif;
}

.projectsLinkContainer {
    background-color:rgb(189, 155, 126);
    border-radius:20%;
    height: 12vh;
    width: 28vw;
    margin:auto;
    margin-top: 1%;
    padding: 2% 2% 2% 2%;
}

.projectsLink {
    text-shadow: 1px 1px 4px #000000;
    float:left;
    margin-top:2.5%;
    font-size:.8em;
}

.projectsAnchor {
    font-size:.8em;
}



/* Contact House */

#contactContainer {
    height:65vh;
    width:30vw;
    margin-top:0vh;
}

#contactInner {
    background-color:rgb(170, 135, 69);
    border-radius:10%;
    margin:auto;
    height:50vh;
    width:28vw;
    padding-top:5vh;
}

.contactLinkBox {
    background-color:rgb(139, 107, 47);
    border-radius:10%;
    margin:auto;
    height:10vh;
    width: 20vw;
    padding-top:1vh;
}


/* Resume House */

#resumeContainer {
    height:30vh;
    width:30vw;
    margin-top:0vh;
}

#resumeInner {
    background-color:rgb(170, 135, 69);
    border-radius:10%;
    margin:auto;
    height:16vh;
    width:28vw;
    padding-top:5vh;
}

/* -----------------------------------------------Button ------------------------------*/
button {
	-moz-box-shadow:inset 0px 0px 9px 1px #a6827e;
	-webkit-box-shadow:inset 0px 0px 9px 1px #a6827e;
	box-shadow:inset 0px 0px 9px 1px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #54381e;
	cursor:pointer;
	color:#ffffff;
	font-family: 'ZCOOL KuaiLe', cursive;
	font-size:13px;
	padding:11px 19px;
	text-decoration:none;
    text-shadow:0px 1px 0px #4d3534;

    
    
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
button:active {
	position:relative;
	top:1px;
}