.canvas {
    height:100vh;
    width:100vw;
    background-color:rgb(112, 75, 7);
    background-image: url("./assets/map.png");
    background-repeat:no-repeat;
    background-size:cover;
background-position:center;
}

.player {
    position: fixed;
    height: 8%;
    width: 4%;
    left: 400px;
    top: 495px;
    z-index: 5;
}

.resume {
    position: absolute;
    left: 10%;  
    top: 8%
}

.projects {
    position: absolute;
    left: 78%;
    top: 55%
}

.contact {
    position: absolute;
    left: 5.5%;
    top: 55%
}

.aboutMe {
    position: absolute;
    left: 78%;
    top: 8%
}